/**
 * Stylesheet for the lobbier website
 * Created for project Lobbier: https://github.com/BillMyres/Lobbier
 * @author Thomas vanBommel
 * @since 11-2020
 */

 /* get rid of default padding */
body {
  margin: 0;
  padding: 0;
}

/* style the logout box */
#logout_box {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  position: fixed;
  padding: 10px;
  right: 10px;
  top: 10px;
}

/* chat box */
#chat {
  background-color: white;
  width: max-content;
  padding: 10px;
}

.flex { display: flex; }
.flex-big { flex: 1; }
.flex-vertical { flex-direction: column; }

.outline { outline:2px solid black; }
.border { border:2px solid black; }
