<!--
  - Created for project Lobbier: https://github.com/BillMyres/Lobbier
  - @author Thomas vanBommel
  - @since 11-2020
  -->
<style><%- include("src/css/style.css"); %></style>
<%- include('widgets/logout_box.html', { user: user }); %>

<script type="text/javascript">
  window.onload = init;
  window.onresize = resize;

  let canvas;
  let ctx;

  function init(){
    canvas = document.querySelector("#canvas");

    canvas.addEventListener("click", (click) => {
      let x = click.x - canvas.offsetLeft - canvas.clientWidth / 2;
      let y = click.y - canvas.offsetTop - canvas.clientHeight / 2;
      console.log("clicked: ", x, y);

      ajaxCall("POST", "/game/", { action: "move", x: x, y: y }, res => {
        console.log(res);
        update();
      });
    });

    resize();
    window.setInterval(update, 1000);
  }

  function update(){
    ajaxCall("GET", "/game?lobby=<%= lobby_id %>", "", res => {
      console.log("Server response: ", res);

      ctx.clearRect(0, 0, canvas.clientWidth, canvas.clientHeight);

      for(let user of JSON.parse(res)){
        console.log(user.username);
        console.log(user.position_x);
        console.log(user.position_y);

        let posx = parseFloat(user.position_x) + canvas.clientWidth / 2;
        let posy = parseFloat(user.position_y) + canvas.clientHeight / 2;

        ctx.fillStyle="#ff0000";
        ctx.fillRect(posx, posy, 10, 10);

        ctx.fillText(user.username, posx, posy);
      }
    });
  }

  function resize(){
    if(canvas){
      canvas.style.height = canvas.clientWidth;
      ctx = canvas.getContext("2d");

      canvas.width = canvas.clientWidth;
      canvas.height = canvas.clientHeight;
    }

    update();
  }

  function sendMessage(){
  let element = document.querySelector("#message_input");

    ajaxCall("POST", "", { message: element.value }, res => {
      console.log("Server response: ", res);
      window.location.reload();
    });
  }

  function ajaxCall(method, action, data, callback){
    // let context = {};
    let http = new XMLHttpRequest();
    let element = document.querySelector("#message_input");

    http.open(method, action, true);
    http.setRequestHeader("Content-Type", "application/json");

    // context.message = data;

    http.send(JSON.stringify(data));

    http.onreadystatechange = function() {
      if (this.readyState === 4 && this.status === 200) {
        callback(this.responseText);
        // window.location.reload();
      }
    };
  }
</script>

<title>Lobby: <%= lobby_id %></title>
<p>Lobby: <%= lobby_id %></p>
<hr />

<div id="messages">
  <% for(let message of messages) { %>
    <div class="message">
      <p>
        <%= message.date %> -
        <b><%= message.owner %>:</b>
        <%= decodeURIComponent(message.message) %>
      </p>
    </div>
  <% } %>
</div>
<div>
  <input id="message_input" type="text" name="message" placeholder="Message" />
  <button type="buttom" onclick="sendMessage();">Send</button>
</div>

<p>Game:</p>
<div id="game_container" class="border">
  <canvas id="canvas"></canvas>
</div>

<%- include('widgets/footer.html', { user: user }); %>
